<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Codes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
    </head>
    <body>
        <%- include("includes/header.ejs") %>
        <%- include("includes/nav.ejs") %>
        <main>
            <h2>Codes für die Abstimmung</h2>
            <h3>Teilnehmer-Code</h3>
            <p><%= tcode %></p>
            <h3>Administrator-Code</h3>
            <p><%= acode %></p>
        </main>
        <%- include("includes/footer.ejs") %>        
    </body>
</html>